<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->

<div class = "keep-component-note-taker-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header><mat-panel-title>Take a note</mat-panel-title></mat-expansion-panel-header>
   <div class = 'keep-component-note-taker-wrapper' >
     <mat-form-field>
       <input matInput [(ngModel)] = "note.title" name="title" placeholder="Title">
     </mat-form-field>
     <mat-form-field>
       <textarea matInput [(ngModel)] = "note.text" name="text" placeholder="Text"></textarea>
     </mat-form-field>
     <div class = 'keep-component-button'>
       <button mat-button (click) = "takeNotes()">Done</button>
     </div>
   </div>
  </mat-expansion-panel>
</div>
