<div class="login-container">
    <mat-form-field class="logic-border">    
        <input class="username" matInput placeholder="User Name" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getUserNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input class="password" matInput placeholder="Password" type = "password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-button (click) = 'loginSubmit()'>Submit</button>
    <strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>
</div>
      